#content {
  float: left;
}
#feedback {
  float: left;
  margin: 15px;
  max-height: 420px;
  overflow: auto;
}
#form {
  clear: both;
  padding-top: 15px;
  input {
    float: left;
    height: 40px;
    width: 100px;
    margin-right: 10px;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
  }
  button {
    height: 45px;
    background: #333;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 0;
    border: 0;
  }
}
span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #999;
  color: #e7e7e7;
}
.ship-battleship {
  background: yellow;
}
.ship-destroyer-1 {
	background: #000;
}
.ship-destroyer-2 {
	background: blue;
}

.ship-hit {
  background: red;
}
.ship-missed {
  background: grey;
}

.err {
  background: yellow;
  color: red;
}
.user {
  background: blue;
  color: #fff;
}
.cpu {
  background: grey;
  color: #fff;
}
.red {
  background: red;
  color: #fff;
}